<app-menu [menuItem]="links" [title]="title">
    <ng-template let-item>
        <a mat-button *ngIf="item.url" [routerLink]="item.url">
            <mat-icon *ngIf="item.icon">{{ item.icon }}</mat-icon>
            <span>{{ item.name }}</span>
        </a>
        <ng-container *ngIf="!item.url">
            <mat-icon *ngIf="item.icon">{{ item.icon }}</mat-icon>
            <span>{{ item.name }}</span>
        </ng-container>
    </ng-template>

    <router-outlet></router-outlet>
</app-menu>
