<mat-toolbar color="primary">
    <ng-container *ngTemplateOutlet="linkTemplate; context: { $implicit: title }"></ng-container>
    <ng-container *ngFor="let link of menuItem">
        <ng-container *ngTemplateOutlet="rootMenu; context: { $implicit: link, root: true }"></ng-container>
    </ng-container>
</mat-toolbar>

<div class="content">
    <ng-content></ng-content>
</div>

<ng-template #rootMenu let-menu>
    <button mat-button *ngIf="!menu.items">
        <ng-container *ngTemplateOutlet="linkTemplate; context: { $implicit: menu }"></ng-container>
    </button>
    <ng-container *ngIf="menu.items">
        <button mat-button [matMenuTriggerFor]="mainMenu">
            <ng-container *ngTemplateOutlet="linkTemplate; context: { $implicit: menu }"></ng-container>
        </button>
        <mat-menu #mainMenu>
            <ng-container *ngFor="let item of menu.items">
                <ng-container *ngTemplateOutlet="menuList; context: { $implicit: item }"></ng-container>
            </ng-container>
        </mat-menu>
    </ng-container>
</ng-template>

<ng-template #menuList let-menu>
    <button mat-menu-item>
        <ng-container *ngTemplateOutlet="linkTemplate; context: { $implicit: menu }"></ng-container>
    </button>
    <!-- Does not work with more than 1 level -->
    <!-- Menu does not open on hover, only on click -->
<!--    <ng-container *ngIf="menu.items">
        <button mat-menu-item [matMenuTriggerFor]="mainMenu">
            <ng-container *ngTemplateOutlet="linkTemplate; context: { $implicit: menu }"></ng-container>
        </button>
        <mat-menu #mainMenu>
            <ng-container *ngFor="let subItem of menu.items">
                <button mat-menu-item>
                    <ng-container *ngTemplateOutlet="linkTemplate; context: { $implicit: subItem}"></ng-container>
                </button>
            </ng-container>
        </mat-menu>
    </ng-container>-->
</ng-template>
